:root {
  box-sizing: border-box;
  --font-space-mono: "Space Mono", monospace;
  --light-grayish-cyan: hsl(185, 41%, 84%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-space-mono);
  margin: 0;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
}

@media (min-width: 768px) {
  body {
    display: flex;
    min-height: initial;
    max-width: 960px;
    margin: auto;
  }
}

figure,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapper {
  margin: 0 auto;
}

.attribution {
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  margin-top: 2rem;
}
